html,
body {
    position: relative;
    width: 100%;
    height: 100%;
}

body {
    color: #333;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    letter-spacing: 2px;
    font-family: 'Roboto Condensed', sans-serif;
}

a {
    color: rgb(0, 100, 200);
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

a:visited {
    color: rgb(0, 80, 160);
}

label {
    display: block;
}

input,
button,
select,
textarea {
    font-family: inherit;
    font-size: inherit;
    padding: 0.4em;
    margin: 0 0 0.5em 0;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 2px;
}

input:disabled {
    color: #ccc;
}

input[type='range'] {
    height: 0;
}

/* $color-primary: #55c57a;
$color-primary-light: #7ed56f;
$color-primary-dark: #28b485;

$color-secondary-light: #ffb900;
$color-secondary-dark: #ff7730;

$color-tertiary-light: #2998ff;
$color-tertiary-dark: #5643fa; */

button {
    border-radius: 50px;
    font-size: 24px;
    font-weight: 700;
    height: 55px;
    color: white;
    width: 160px;
    background-image: linear-gradient(to right, #b4f05a 0%, #96c850 100%);
    outline: none;
    cursor: pointer;
    border: 0;
    transition: all 0.2s;
    text-shadow: 1px 2px rgba(0, 0, 0, 0.25);
}

button.preparation {
    background-image: linear-gradient(to right, #ffea00 0%, #e6d300 100%);
}

button.rest {
    background-image: linear-gradient(to right, #69d2f0 0%, #52cbee 100%);
}

button:hover {
    transform: translateY(-3px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

button:hover::after {
    transform: scaleX(1.4) scaleY(1.6);
    opacity: 0;
}

button:disabled {
    color: #999;
}

button:not(:disabled):active {
    outline: none;
    transform: translateY(-1px);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}